.input-buscar{
    width: 85%;
    margin: 0% 4%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid rgb(248, 54, 184);
    align-items: center;
    outline:salmon;
    opacity: .7;
}
.input-buscar:focus {
    border: 2px solid rgb(245, 150, 171);
}